body {
  margin: 10px;
}

nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 20px;
}

.sitemotto {
  color: #de2f23;
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

article {
  margin-left: 25%;
  width: 90%;
  padding: 20px;
}

header {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: red;
    margin-left: 25%;

}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 56px;
  padding:  20px;
}

.byline {
  font-weight: bold;
}

.tdpad {
  padding: 20px;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  padding:  20px;
}

.story_image {
  width: 100%;
}

.caption {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

footer > p {
  font-size: 14px;
  color: #666666;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

